@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container bg">
        <div class="row">
            <div class="heading-title">

                <h1>About Us</h1>
                <p>We Are a Dedicated Team</p>
            </div>
            <div class="content">
                <p>
                    Pick-C (Cargo) is mobile app, unique of its kind for goods transportation in your city, providing a common platform for goods transportation anytime anywhere for registered customers and driver associates on a mobile technology platform. We are providing a platform to make sure cargo bookings and transportation round the clock, providing rapid, convenient, reliable, online tracking, transparent, time-definite delivery and user friendly technology for a stress free cargo transportation in your city.
                </p>
                <p> platform where driver associates can maintain consistency in earning, connecting people and improving their lives. We are in process of expanding our services and reach in the emerging markets and rousing e-commerce markets of today’s world.</p>
                <p>We are a leading IT Solutions Provider, providing solutions for enterprises across the globe, to optimize resource planning & utilization, cost effective, benefits return on investment. We provide cost effective solutions within budget and timelines. We are known for providing optimized solutions for logistics, Software Development, Accounting Systems, Manufacturing Systems, Port and Terminals, Inland Container Depots, Empty Container Parks, Haulage, Warehouse, and manufacturing solutions.</p>
                <p>Our customers spread across Manufacturing, Transportation, Sea Ports & Container Parks, and others Industries. Strong project management methodologies, ability to work with multi culture environments, and complex project engagement is our core strength. We collaborate with our customers for long term partnership. Our optimized and customized products allow customers to consistently achieve major reductions in operating costs, improved customer service and throughput.</p>

            </div>

        </div>
    </div>
