@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="container">
            <div class="row">
                <div class="heading-title">

                    <h1>Careers</h1>

                    <div class="col-md-12">
                        <div class="careers">
                            <img src="@Url.Content("~/images/under.png")" class="img-responsive center-block" alt="Under Construction" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <!--main services section End-->
    <!--Services section Start-->
    