@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="clear-fix"></div>
    <div class="container">
        <div class="row">
            <div class="heading-title">

            </div>
            <div class="services-main">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cn">
                    <div id="imageHolder" class="sidebar sidebar-right">
                        <h3 class="widget-title">Customer Support</h3>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.2230611056398!2d78.38301667706737!3d17.449034627920007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91617997918b%3A0xda6e2f6d0255a051!2sPick-C!5e0!3m2!1sen!2sin!4v1513771950190" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 cs" style="display:none">
                    <div class="sidebar sidebar-right">
                        <div class="widget">
                           <div class="row" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-bottom: 30px;padding-top: 10px;">
                                <div class="col-md-12">
                                    <div>
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="support"> 
                                                <img src="@Url.Content("~/images/support.jpg")" class="image-responsive center-block" style="width:310px; margin-bottom:10px;" />
                                                <a href="tel:+914065454222" class="btn-feedback center-block solid blank">
                                                    <i class="fa fa-phone"></i>&nbsp; +91. 40. 6 5454 222
                                                </a>

                                                <p>

                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Widget end -->

                    </div>
                    <!-- Sidebar end -->
                </div>
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12  fd" style="display:none">
                    <div class="sidebar sidebar-right">
                        <div class="widget">

                            <div class="row" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding-bottom: 30px; padding-top: 10px;">
                                <div class="col-md-12">
                                    <div class="">

                                        <div class="col-md-12">
                                            <div class="support">
                                                <img src="@Url.Content("~/images/feedback.png")" class="image-responsive center-block" style="width:310px; margin-bottom:10px;" />
                                            </div>
                                            <div class="support">
                                                <a class="btn-feedback center-block solid blank" style="text-transform:lowercase;" type="submit">
                                                    <i class="fa fa-envelope-o"></i>&nbsp;
                                                    info@pickcargo.in
                                                </a>

                                                <p>

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Widget end -->

                    </div>
                    <!-- Sidebar end -->
                </div>


            </div>
            <div class="col-md-6">
                <div class="">
                    <form class="contact">
                        <div class="col-md-12">
                            <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;Write To Us</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group select contact-input">
                                <select class="form-control input-align" id="Type" name="Type" onchange="changeSupport()">
                                    <option value="ContactUs">Contact Us</option>
                                    <option value="FeedBack">FeedBack</option>
                                    <option value="CustomerSupport" selected="selected">Customer Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group contact-input">
                                <label for="nme">Name</label>
                                <input type="text" class="form-control input-align" id="nme">
                            </div>
                            <div class="form-group contact-input">
                                <label for="eml">Email ID</label>
                                <input type="email" class="form-control input-align" id="eml">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <span id="help_mesage" style="color:red"></span>
                            <div class="form-group contact-input">
                                <label for="mbl">Mobile</label>

                                <input type="mobile" onclick="MobileNo()" class="form-control numCss MobileNoCss input-align number" id="mbl" maxlength="10">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <span id="help_mesage" style="color:red"></span>
                            <div class="form-group contact-input">
                                <label for="sbj">Subject</label>
                                <input type="subject" class="form-control input-align" id="sbj">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="msg">Message</label>
                                <textarea type="message" class="form-control input-align" rows="4" cols="50" id="msg"></textarea>
                            </div>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
@section Scripts{

    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script>
            $(function () {
                debugger;
                changeSupport();
                //$('#Type').on('change', function () {

                //});
            });
            $(function () {
                $('#mbl').validate({
                    rules: {
                        mobileNumber: {
                            required: true,
                            minlength: 10,
                            maxlength: 10
                        }
                    }                
                });
                function MobileNo() {
                    debugger
                    var inpObj = document.getElementById("mbl");
                    if ($('#mbl').valid()) {
                        $('#mbl').submit();
                    }
                }
                $.validator.addMethod('MobileNoCss', function (value) {
                    debugger;
                    var test = /^[789]\d{9}$/.test(value);
                    return /^[789]\d{9}$/.test(value);
                }, 'Please enter correct Mobile Number');
            });
            function changeSupport() {
                var i = $('#Type').val();
                debugger;
                if (i == "ContactUs") {
                    $('.cn').show();
                    $('.cs').hide();
                    $('.fd').hide();
                }
                if (i == "CustomerSupport") {
                    $('.cs').show();
                    $('.cn').hide();
                    $('.fd').hide();
                }
                if (i == "FeedBack") {
                    $('.fd').show();
                    $('.cn').hide();
                    $('.cs').hide();
                }
            }
</script>
    <!--contact section End-->
    <!--Services section Start-->
    }